@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
}

@layer utilities {
  .h1-hind-d {
    @apply text-9xl font-hind font-bold;
  }
  .h2-hind-d {
    @apply text-8xl font-hind font-bold;
  }
  .h3-hind-d {
    @apply text-7xl font-hind font-bold;
  }
  .h4-hind-d {
    @apply text-6xl font-hind font-bold;
  }
  .h5-hind-d {
    @apply text-5xl font-hind font-bold;
  }
  .h6-hind-d {
    @apply text-3xl font-hind font-bold;
  }
  .h1-hind-m {
    @apply text-7xl font-hind font-bold;
  }
  .h2-hind-m {
    @apply text-6xl font-hind font-bold;
  }
  .h3-hind-m {
    @apply text-5xl font-hind font-bold;
  }
  .h4-hind-m {
    @apply text-4xl font-hind font-bold;
  }
  .h5-hind-m {
    @apply text-3xl font-hind font-bold;
  }
  .h6-hind-m {
    @apply text-2xl font-hind font-bold;
  }
  .button-lg {
    @apply text-lg font-hind font-bold;
  }
  .button-md {
    @apply text-base font-hind font-bold;
  }
  .button-sm {
    @apply text-sm font-hind font-bold;
  }
  .body-lg {
    @apply text-xl font-hind;
  }
  .body-md {
    @apply text-base font-hind;
  }
}
 
@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-background-500 text-text-500;
  }
}
